<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MediArc</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>

</head>

<body>


  <!-- Navbar+Title -->

  <section id="title">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="#">MediArc</a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="profile.html">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="search.html">Search?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us</a>
        </div>
        </ul>
      </nav>


      <div class="row">
        <div class="col-lg-6">
          <h1 class="slogan">An apple a day keeps the doctor away.</h1>
          <a href="https://timesofindia.indiatimes.com/coronavirus" ><button type="button" class="btn btn-dark btn-lg dbtn"><i class="icon far fa-newspaper"></i> COVID-19
            News</button></a>
          <a href="/sugartesting" ><button type="button" class="btn btn-outline-light btn-lg dbtn"><i class="icon-dark fas fa-ruler-vertical"></i> Sugar level tester</button></a>
        </div>

        <div class="col-lg-6">
          <img id="docimg" src="images/doc image.png" />
        </div>
  </section>

  <!-- Features -->

  <section id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icons fas fa-book-medical fa-4x"></i>
        <h3>Medical Library</h3>
        <p>Will give you information on medicines</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icons fas fa-user-md fa-4x"></i>
        <h3>Need Medical Support?</h3>
        <p>Search and Locate Doctors near you</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icons fas fa-medkit fa-4x"></i>
        <h3>Need First Aid tips?</h3>
        <p>Find the most accurate First-Aid tips </p>
      </div>
    </div>
  </section>

  <!-- Cards -->

  <section id="crads">
    <div class="row">
      <div class="pc col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 heading1>Find Doctors Near You </h2>
            <p>Select preferred doctor and time slot to book an in-clinic consultation. </p>
            <a href="search.html"><button type="button" class="bttn btn-block btn-outline-dark btn-lg dbtn">Find Doctors
                Now</button></a>
          </div>
        </div>
      </div>

      <div class="pc col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-2">
                <img class="doccc" src="images/docccc.jpg" />
              </div>

              <div class="col-lg-10">
                <h1 class="heading1">Doctors Online Now</h1>
                <p>
                  Tell us your health concern and we will asign you a top doctor in 60 secs.
                </p>
              </div>
            </div>

            <a href="search.html"> <button type="button" class="bttn btn-dark btn-lg btn-block ">Find Now </button> </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Problems -->
  <section id="problems">
    <h1 class="s">Consult top doctors online for any health concern</h1>
    <p class="p">
      Private online consultations with verified doctors in all specialists
    </p>

    <div class="row">
      <div class="col-lg-4">
        <div class="teeth-card card">
          <div class="card-body">
            <i class="teeth fas fa-tooth fa-4x"></i>
            <p class="p">
              Toothache, Plague, Sensitivity
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="teeth-card card">
          <div class="card-body">
            <i class="teeth fas fa-head-side-cough fa-4x"></i>
            <p class="p">
              Cough, Cold
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="teeth-card card">
          <div class="card-body">
            <i class="teeth fas fa-temperature-high fa-4x"></i>
            <p class="p">
              Fever, Low body temperature
            </p>
          </div>
        </div>
      </div>




    </div>
  </section>

  <!-- Sections -->

  <section id="covid">
    <h1 class="covidtitle">How MediArc will help in Fighting COVID-19</h1>
    <div class="row">
      <div class="covid col-lg-4">
        <div class="covidc card">
          <div class="card-body">
            <img class="covid-image" src="images/covid19.jfif" />
            <p class="corona-1">Let's FIGHT Coronavirus together! </p>
            <a href="https://www.mohfw.gov.in/"><button type="button" class="bcn btn-light btn-lg">Know More > </button></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="covidc card">
          <div class="card-body">
            <img class="handwash" src="images/handwash.jpg" />
            <p class="corona-1"> How to FIGHT Coronavirus together </p>
            
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"><button type="button" class="bcn btn-light btn-lg">
              Know More > 
            </button> </a>
            
            

          </div>
        </div>
      </div>

  </section>

  <!-- footer -->

  <footer id="footer">

    <p class="footer-text">© Copyright 2021 TechNovo</p>

  </footer>

</body>

</html>